MAIN ICON .\duckdns_logo.ico

1 VERSIONINFO
FILEVERSION 1,0,1,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
    BLOCK "040904b0"
    {
        VALUE "FileDescription", "DuckDNS Updater\000"
        VALUE "FileVersion", "1.0.0.0\000"
        VALUE "InternalName", "hb_minigui_duckdns_client\000"
        VALUE "LegalCopyright", "Free 2025-2025\000"
        VALUE "LegalTrademarks", "Harbour\000"
        VALUE "OriginalFilename", "hb_minigui_duckdns_client.exe\000"
        VALUE "CompanyName", "DNA Tech\000"
        VALUE "ProductName", "DNA Tech DuckDNS Updater\000"
        VALUE "ProductVersion", "1.0.0.0\000"
        VALUE "Comments", "Created by Marinaldo de Jesus <marinaldo.jesus@gmail.com>\000"
    }
}

BLOCK "VarFileInfo"
{
    VALUE "Translation", 0x0409, 0x04B0
}
}
